*, *::before, *::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #252d3d;
    margin: 0;
    padding: 0.5rem;
    -webkit-font-smoothing: antialiased;
}

nextjs-portal {
    display: none;
}
